body{
    background:black;
    background-repeat: no-repeat;
    background-size: 100% 200%;
    margin: 0px;
    padding: 0px;
}


/*for large screens*/
@media only screen and (min-width:460px) {
    nav{
        align-content: center;
        float: right;
        margin-top: -7%;
    }
    #nav{
        text-decoration: none;
        color: beige;

    }
    h1{
        color:whitesmoke;
        text-shadow: 2px 2px 6px rgb(60, 136, 60);
        margin-left: 10%;
        margin-top: 8%;
        font-weight: lighter;
        font-size: 300%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    h2{
        color: white;
        font-weight: bolder;
        margin-left: 10%;
        
    }
    #email{
        text-decoration: none;
    }
    div{
        color: white;
        margin-left: 10%;}
    }

/*small screens*/
@media only screen and (max-width:460px) {
   
    nav{
        align-content: center;
        float: right;
        margin-top: -7%;
    }
    #nav{
        text-decoration: none;
        color: beige;
        font-size: 70%;

    }
    h1{
        color:whitesmoke;
        text-shadow: 2px 2px 6px rgb(60, 136, 60);
        
        margin-top: 8%;
        font-weight: lighter;
        font-size: 300%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    h2{
        color: white;
        font-weight: bolder;
        
        
    }
    #email{
        text-decoration: none;
    }
    div{
        color: white;
        font-size: 100%;
        padding: 5%;
}}