
/*large screens*/
@media only screen and (min-width:940px) {
    body{
        background-image: url('../img/bck.png');
        background-size: cover;
        background-attachment: fixed;
        text-align: center;
        background-repeat: no-repeat;
        padding: 1%;
    }
    #log{
        margin-left: -87%;
        margin-top: 1%;
    }
    #logo{
        width: 2%;
        height: auto;
    }
    nav{
        margin-left: 70%;
        margin-top: -4%;
    
    }
    #link, #link1, #link2, #link3 {
        font-family: 'Segoe UI';
        color: white;
        text-decoration: none;
        margin-right: 2%;
    }
    b{
        font-style: italic;
        font-size: 150%;
        color: white;
        text-indent: 1%;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
        position: absolute;
        margin-top: 1%;
        margin-left: 1%;
    }
    #photo1{
        width: 15%;
        height: auto;
        margin-top: 4%;
    }
    h1{
        color: red;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: bolder;
    }
    h2{
        color: white;
    }
    button{
        color: white;
        font-weight: bolder;
        border-width: 2%;
        background-color: inherit;
    }
    p{
        color: white;
    }
}

/*small screens*/
@media only screen and (max-width:940px) {
    body{
        background-image: url('../img/bck.png');
        background-size: cover;
        background-attachment: fixed;
        text-align: center;
        background-repeat: no-repeat;
        padding: 1%;
    }
    #log{
        margin-left: -87%;
        margin-top: 1.5%;
    }
    #logo{
        width: 5%;
        height: auto;
    }
    nav{
        margin-left: 60%;
        margin-top: -10%;
    
    }
    #link, #link1, #link2, #link3 {
        font-family: 'Segoe UI';
        color: white;
        text-decoration: none;
        margin-right: 2%;
        font-size: 44%;
    }
    b{
        font-style: italic;
        font-size: 100%;
        color: white;
        text-indent: 1%;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
        position: absolute;
        margin-top: 1%;
        margin-left: 1%;
    }
    #photo1{
        width: 25%;
        height: auto;
        margin-top: 4%;
    }
    h1{
        color: red;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: bolder;
        font-size: 150%;
    }
    h2{
        color: white;
        font-size: 100%;
    }
    button{
        color: white;
        font-weight: bolder;
        border-width: 2%;
        background-color: inherit;
    }
    p{
        color: white;
        font-size: 90%;
    }
}