body{
    background-image: url('../img/bck.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
}
/*for small screens*/
@media only screen and (max-width:760px){
    nav{
        float: right;
    }
    #nav{
        text-decoration: none;
        font-size: 100%;
        color: white;
       }
}
/*for large screens*/
@media only screen and (min-width:760px){
   nav{
    float: right;
    margin-top: 1%;
   }
   #nav{
    text-decoration: none;
    font-size:100%;
    color:white;
   }
   #d1{
    margin-left: 6%;
    margin-top: 5%;
    float: left;
   }
}
